@font-face {
  font-family: "iconfont";
  /* Project id 2736068 */
  src: url('//at.alicdn.com/t/font_2736068_m6pf73x1dr8.woff2?t=1633851204910') format('woff2'), url('//at.alicdn.com/t/font_2736068_m6pf73x1dr8.woff?t=1633851204910') format('woff'), url('//at.alicdn.com/t/font_2736068_m6pf73x1dr8.ttf?t=1633851204910') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-24gl-pause:before {
  content: "\ea6d";
}
.icon-xiai:before {
  content: "\e661";
}
.icon-shangyishoushangyige:before {
  content: "\e78a";
}
.icon-xiayigexiayishou:before {
  content: "\e7a5";
}
.icon-24gl-repeat2:before {
  content: "\ea75";
}
.icon-xunhuan:before {
  content: "\e610";
}
.icon-bofangsanjiaoxing:before {
  content: "\e769";
}
.icon-fenxiang:before {
  content: "\e602";
}
.icon-xinxi:before {
  content: "\e6cd";
}
.icon-yuyin:before {
  content: "\e654";
}
.icon-gedan:before {
  content: "\e636";
}
.icon-yinle:before {
  content: "\e62e";
}
.icon-shoucang:before {
  content: "\e60b";
}
.icon-tuijian:before {
  content: "\e60f";
}
.icon-shipin-:before {
  content: "\e609";
}
.icon-arrow-right:before {
  content: "\e601";
}
.icon-jiantou-copy:before {
  content: "\e667";
}
